.home-section {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-left img {
    width: 600px;
    height: 800px;
    margin-left: 50px;
}

@media(max-width:480px) {
    .home-section {
        width: 100vw;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
    }
    .home-left img {
        width: 320px;
        height: 450px;
        margin-right: 10px;
        margin-bottom: 50px;
    }
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        width: 100%;
    }
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}